* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  margin: 20px auto;
}
h1 {
  font-size: 45px;
  color: #A855F7;
}

h2 {
  font-size: 30px;
}

p {
  text-align: justify;
  margin: 20px;
  font-size: 18px;
  margin-left: 70px;
  margin-right: 70px;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
}